name: simple github action
on: 
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository 
        uses: actions/checkout@v4
      - name: run a shell command
        run: echo "HI I am satya"
